<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
<predictive-search>
  <form action="{{ routes.search_url }}" method="get" role="search">
    <label for="Search">Search</label>
    <input
      id="Search"
      type="search"
      class="search-input"
      name="q"
      placeholder="Search..."
      value="{{ search.terms | escape }}"
      role="combobox"
      aria-expanded="false"
      aria-owns="predictive-search-results-list"
      aria-controls="predictive-search-results-list"
      aria-haspopup="listbox"
      aria-autocomplete="list"
      autocorrect="off"
      autocomplete="off"
      autocapitalize="off"
      spellcheck="false"
    >
    <input name="options[prefix]" type="hidden" value="last">
    <div id="predictive-search" class="predictive-search-results" tabindex="-1"></div>
    <button data-toggle-search class="search-header__close">{% render 'icon-close' %}</button>
  </form>
</predictive-search>