<section class='benefits-section'>
  <div class='benefits-container'>
    <div class='benefits-title'>
      {% render 'benefits-title-1' %}
    </div>
  </div>

  <div class='benefit-details'>
    <div class='benefit-detail-item'>
      <div class='benefit-detail-icon'>{% render 'icon-lightning' %}</div>
      <p>
        <strong>Effective</strong><br>
        It contains Ginko, Epimedium & Maca Root to activate & enhance performance.
      </p>
    </div>
    <div class='benefit-detail-item'>
      <div class='benefit-detail-icon'>{% render 'icon-star' %}</div>
      <p>
        <strong>Taste great</strong><br>
        Contains Cinnamon blend sourced from family business in USA.
      </p>
    </div>
    <div class='benefit-detail-item'>
      <div class='benefit-detail-icon'>{% render 'icon-shield' %}</div>
      <p>
        <strong>Safe & Effective</strong><br>
        Made in an FDA-approved facility in Missouri.
      </p>
    </div>
  </div>
</section>
