{% comment %}
  Icon Bar Section
{% endcomment %}
<div class='icon-bar'>
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      <div class='icon-item'>
        <span class='icon'>{{ block.settings.icon }}</span>
        <h3>{{ block.settings.title }}</h3>
      </div>
    {% endfor %}
  {% else %}
    <p>No icons available.</p>
  {% endif %}
</div>

<style>
  .icon-bar {
    display: flex;
    justify-content: center;
    background-color: #faf1e0;
    padding: 20px;
    text-align: center;
    overflow-x: auto;
  }

  .icon-item {
    flex: 1;
    margin: 0 10px;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon {
    font-size: 24px;
    margin-bottom: 10px;
  }

  h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(16px, 4vw, 42px);
    margin: 0;
    max-width: clamp(200px, 30vw, 400px);
    word-wrap: break-word;
  }

  @media (max-width: 768px) {
    .icon-bar {
      padding: 0;
    }
  }
</style>

{% schema %}
{
  "name": "Icon Bar",
  "settings": [],
  "blocks": [
    {
      "type": "icon_item",
      "name": "Icon Item",
      "settings": [
        {
          "type": "text",
          "id": "icon",
          "label": "Icon",
          "default": "❤️"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Default Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom",
      "blocks": [
        {
          "type": "icon_item",
          "settings": {
            "icon": "❤️",
            "title": "Gender inclusive aphrodisiac"
          }
        },
        {
          "type": "icon_item",
          "settings": {
            "icon": "❤️",
            "title": "Boost mood & sensual experience"
          }
        },
        {
          "type": "icon_item",
          "settings": {
            "icon": "❤️",
            "title": "Natural & effective ingredients"
          }
        }
      ]
    }
  ]
}
{% endschema %}
