<section class='ingredients-banner'>
  <div class='ingredients-banner-container page-width'>
    <h1>
      100% Natural, <br>
      & Effective Ingredients
    </h1>
    <p>
      Ensuring the safety and effectiveness of our Spicy Cubes is our utmost priority. Crafted in our fully
      FDA-registered facility in Saint Louis, Missouri, each batch undergoes stringent quality control inspections. We
      source all of our premium ingredients through trusted, USA-based suppliers, guaranteeing the highest standard for
      our dietary supplements.
    </p>
  </div>
</section>
