<section class='ingredients-description'>
  <div class='ingredients-description-container page-width'>
    <div class='ingredient-left'>
      <div class='ingredient-text-container'>
        <h1>Muira Puama</h1>
        <p>
          Also known as the "V**gra of the Amazon", Muira Puama stimulates blood flow, aiding erections in men as well
          as arousal and orgasms in women.
        </p>
      </div>
      <div>
        {% render 'icon-muira-puama' %}
      </div>
    </div>
    <div class='ingredient-right'>
      <div>
        {% render 'icon-maca' %}
      </div>
      <div class='ingredient-text-container'>
        <h1>Maca Root</h1>
        <p>
          Maca Root enhances male and female libido by balancing hormones and increasing blood flow, contributing to
          heightened sexual desire and performance.
        </p>
      </div>
    </div>
    <div class='ingredient-left'>
      <div class='ingredient-text-container'>
        <h1>Epimedium</h1>
        <p>
          Epimedium, also known as "Horny Goat Weed", is a time-tested aphrodisiac grown in the asian highlands. It has
          been used my men and women for over 2000 years to ignite passion in the bedroom
        </p>
      </div>
      <div>
        {% render 'icon-hgw' %}
      </div>
    </div>
    <div class='ingredient-right'>
      <div>
        {% render 'icon-gingko' %}
      </div>
      <div class='ingredient-text-container'>
        <h1>Gingko Biloba</h1>
        <p>
          Gingko Biloba, one of the oldest tree species in the world, is known to increase sexual energy by improving
          circulation and influencing nitric oxide systems.
        </p>
      </div>
    </div>
  </div>
</section>
