<section class='ingredients-description page-width'>
  <div class='ingredients-description__content'>
    <div class='ingredient-item' style='background-color: #E2F0DB'>
      <div>{% render 'icon-muira-puama' %}</div>
      <h2>Muira Puama</h2>
      <p>
        Also known as the “V**gra of the Amazon,” Muira Puama stimulates blood flow, aiding erections in men as well as
        arousal and orgasms in women.
      </p>
    </div>
    <div class='ingredient-item' style='background-color: #FCF3DB'>
      <div>{% render 'icon-maca' %}</div>
      <h2>Maca Root</h2>
      <p>
        Maca enhances male and female libido by balancing hormones and increasing blood flow, contributing to heightened
        sexual desire and performance.
      </p>
    </div>
    <div class='ingredient-item' style='background-color: #E7F0E3'>
      <div>{% render 'icon-hgw' %}</div>
      <h2>Epimedium</h2>
      <p>
        Epimedium is a time-tested aphrodisiac grown in the asian highlands. It has been used by men and women for over
        2000 years to ignite passion in the bedroom.
      </p>
    </div>
    <div class='ingredient-item' style='background-color: #E6EFD3'>
      <div>{% render 'icon-gingko' %}</div>
      <h2>Gingko Biloba</h2>
      <p>
        Ginkgo biloba, one of the oldest tree species in the world, is known to increase sexual energy by improving
        circulation and influencing nitric oxide systems.
      </p>
    </div>
  </div>
</section>

{% style %}
  .ingredients-description {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .ingredients-description__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .ingredients-description__content .ingredient-item {
    height: 350px;
    width: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 60px;
    gap: 30px;
  }

  @media (min-width: 1000px) {
    .ingredients-description__content {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
    .ingredients-description__content .ingredient-item {
      margin-bottom: 0px;
    }
    .ingredients-description {
      margin-bottom: 30px;
    }
  }
{% endstyle %}
