<!-- Benefits Section -->
<section
  class='product-details-section'
>
  <div class='product-benefits'>
    <h1>Product Benefits</h1>
    With a blend of Ginko, Epimedium & Maca Root, these spicy cubes are formulated to build sexual arousal, heighten
    your senses and spice up the action in your bedroom. Simply eat with your partner 30 minutes before intimacy…or use
    alone. Effect could last up to 3h.
  </div>
  <div class='product-details-accordion'>
    <div class='accordion-item'>
      <button class='accordion-button' type='button'>
        Natural Key Ingredients
        <i class='fa fa-chevron-down' aria-hidden='true'></i>
      </button>
      <div class='accordion-content'>
        Lorem ipsum dolor sit amet con sectetur adipisicing elit. Quisquam, voluptate. Lorem ipsum dolor sit amet con
        sectetur adipisicing elit. Quisquam, voluptate.
      </div>
    </div>
    <div class='accordion-item'>
      <button class='accordion-button' type='button'>
        How to Use
        <i class='fa fa-chevron-down' aria-hidden='true'></i>
      </button>
      <div class='accordion-content'>
        Lorem ipsum dolor sit amet con sectetur adipisicing elit. Quisquam, voluptate. Lorem ipsum dolor sit amet con
        sectetur adipisicing elit. Quisquam, voluptate.
      </div>
    </div>
    <div class='accordion-item'>
      <button class='accordion-button' type='button'>
        Shipping and Returns
        <i class='fa fa-chevron-down' aria-hidden='true'></i>
      </button>
      <div class='accordion-content'>
        Lorem ipsum dolor sit amet con sectetur adipisicing elit. Quisquam, voluptate. Lorem ipsum dolor sit amet con
        sectetur adipisicing elit. Quisquam, voluptate.
      </div>
    </div>
    <a class='accordion-link' href='/pages/faqs'>
      <u>FAQs</u> <i class='fa fa-chevron-right' aria-hidden='true'></i>
    </a>
    {% comment %}
      <a class='accordion-link' href='/reviews'>
        <u>Reviews</u> <i class='fa fa-chevron-right' aria-hidden='true'></i>
      </a>
    {% endcomment %}
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var acc = document.getElementsByClassName('accordion-button');
    for (var i = 0; i < acc.length; i++) {
      acc[i].addEventListener('click', function () {
        this.classList.toggle('active');
        var content = this.nextElementSibling;
        if (content.style.display === 'block') {
          content.style.display = 'none';
        } else {
          content.style.display = 'block';
        }
      });
    }
  });
</script>
