<!-- Benefits Section -->
<section
  class='product-details-section'
>
  <div class='product-details-container page-width'>
    <div class='product-benefits'>
      {% if product.title == 'Spicy Cubes' %}
        <h1>Product Benefits</h1>
      {% else %}
        <h1>Product Details</h1>
      {% endif %}
      {% if product.title == 'Spicy Cubes' %}
        {{ product.description }}
      {% else %}
        <p>
          The Spicy Card game is the perfect side-kick for Spicy Cubes. Couples, lovers, and "friends" can enjoy
          connecting on a deeper level with this fun and flirty card game. The cards have three levels of questions
          which spark intimate conversations and create a playful atmosphere, perfect for date nights or cozy evenings
          in.
        </p>
        <p>
          <b>The Spicy Card Game includes 69 cards with 3 levels of questions:</b>

          <ol style='list-style-type: decimal; margin-block-start:0em; padding-inline-start: 20px;'>
            <li><b>Spicy:</b> Chill questions to spark the conversation.</li>
            <li><b>Hot:</b> Questions that will make you blush.</li>
            <li><b>🔥On Fire🔥:</b> Questions that will make you sweat.</li>
          </ol>
        </p>

        <p>Pair these with Spicy Cubes and you might just set the bedroom on fire.</p>
        <h4>
          Don't have Spicy Cubes?
          <a href='{{ section.settings.learn_url | default: '#' }}'><b>Learn more...</b></a>
        </h4>
      {% endif %}
    </div>
    {% if product.title == 'Spicy Cubes' %}
      <div class='product-details-accordion'>
        <div class='accordion-item'>
          <button class='accordion-button' type='button'>
            Natural Key Ingredients
            <i class='fa fa-chevron-down' aria-hidden='true'></i>
          </button>
          <div class='accordion-content'>
            <p>
              Your safety and satisfaction are our top priorities. Spicy Cubes are crafted with a potent blend of
              natural aphrodisiacs, appealing to all genders with both flavor and functionality:
            </p>

            <ul>
              <li><b>Muira Puama:</b> Enhances drive and stamina</li>
              <li><b>Maca Root:</b> Boosts circulation and energy</li>
              <li><b>Horny Goat Weed:</b> Increases libido</li>
              <li><b>Ginkgo Biloba:</b> Boosts desire and circulation</li>
            </ul>

            <p>
              *Spicy Cubes contain absolutely no illicit substances. Each ingredient is meticulously selected and
              undergoes rigorous quality control from our trusted sources.
            </p>

            <p>
              **Manufactured in our FDA-registered facility in St. Louis, Missouri, Spicy Cubes are the culmination of
              extensive research and development, ensuring the highest standards of safety and effectiveness.
            </p>
          </div>
        </div>
        <div class='accordion-item'>
          <button class='accordion-button' type='button'>
            How to Use
            <i class='fa fa-chevron-down' aria-hidden='true'></i>
          </button>
          <div class='accordion-content'>
            <p>
              We suggest enjoying Spicy Cubes with your partner at least 30 minutes before intimacy to fully embrace
              their effects. Although the impact might be subtle before sex, Spicy Cubes are formulated to intensify
              your connection when it matters most.
            </p>

            <p>The duration of the effects can vary, but they typically last <b>between 1 - 3 hours.</b></p>

            <p>*Limit use to one Spicy Cube per person per day.</p>

            <p>
              **Spicy Cubes are not intended for use by individuals under the age of 18. If you are pregnant,
              breastfeeding, on medication, or have a medical condition, please consult your healthcare provider before
              using Spicy Cubes. If you have any sensitivity to herbal supplements, proceed with caution when using our
              product.
            </p>
          </div>
        </div>
        <div class='accordion-item'>
          <button class='accordion-button' type='button'>
            Shipping and Returns
            <i class='fa fa-chevron-down' aria-hidden='true'></i>
          </button>
          <div class='accordion-content'>
            <p>
              We offer 7 - 11 day shipping through DHL. Spicy Cubes are shipped discreetly in a padded envelope. For
              your privacy, the Spicy Cubes logo or branding will never appear on our external packaging.
            </p>
          </div>
        </div>
        <a class='accordion-link' href='#faq-section'>
          <u>FAQs</u> <i class='fa fa-chevron-right' aria-hidden='true'></i>
        </a>
        {% comment %}
          <a class='accordion-link' href='/reviews'>
            <u>Reviews</u> <i class='fa fa-chevron-right' aria-hidden='true'></i>
          </a>
        {% endcomment %}
      </div>
    {% endif %}
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var acc = document.getElementsByClassName('accordion-button');
    for (var i = 0; i < acc.length; i++) {
      acc[i].addEventListener('click', function () {
        this.classList.toggle('active');
        var content = this.nextElementSibling;
        if (content.style.display === 'block') {
          content.style.display = 'none';
        } else {
          content.style.display = 'block';
        }
      });
    }
  });
</script>

{% schema %}
{
  "name": "CTA Gradient Banner",
  "settings": [
    {
      "type": "url",
      "id": "learn_url",
      "label": "Learn Url"
    }
  ]
}
{% endschema %}
