<!-- sugar Section -->
<section class='sugar-section'>
  <div class='sugar-container'>
    <div class='sugar-title-image'>
      {% render 'title-sugar-by-cubes' %}
    </div>
    <div class='sugar-box-image'>
      <!-- Desktop Image -->
      <img src='{{ section.settings.box_image_desktop | image_url }}' class='desktop-image' loading='lazy'>
      <!-- Mobile Image -->
      <img src='{{ section.settings.box_image_mobile | image_url }}' class='mobile-image' loading='lazy'>
    </div>
  </div>
</section>
<!-- End sugar Section -->
<style>
  .sugar-box-image .desktop-image {
    display: none;
  }
  .sugar-box-image .mobile-image {
    display: block;
  }

  @media (min-width: 768px) {
    .sugar-box-image .desktop-image {
      display: block;
      max-width: 1200px;
    }
    .sugar-box-image .mobile-image {
      display: none;
    }
  }
</style>

{% schema %}
{
  "name": "Sugar Section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "box_image_desktop",
      "label": "Choose Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "box_image_mobile",
      "label": "Choose Mobile Image"
    }
  ]
}
{% endschema %}
