<!-- sugar Section -->
<section class='sugar-section'>
  <div class='sugar-container'>
    <div class='sugar-title-image'>
      {% render 'title-sugar-by-cubes' %}
    </div>
    <div class='sugar-content'>
      <div class='sugar-box-image'>
        <!-- Desktop Image -->
        <img src='{{ section.settings.hero_product_image_desktop | image_url }}' class='desktop-image' loading='lazy'>
        <!-- Mobile Image -->
        <img src='{{ section.settings.hero_product_image_mobile | image_url }}' class='mobile-image' loading='lazy'>
      </div>
      <div class='sugar-text'>
        <div class='benefit'>
          <div class='benefit-icon'>
            {% render 'icon-clover' %}
          </div>
          <div class='benefit-content'>
            <h3><i>Safe</i> and <i>natural</i> ingredients</h3>
            <p>Made in FDA approved facility & constantly improve through research & development.</p>
          </div>
        </div>
        <div class='benefit'>
          <div class='benefit-icon'>
            {% render 'icon-america' %}
          </div>
          <div class='benefit-content'>
            <h3>Made in the <i>USA</i></h3>
            <p>Formulated, crafted and packaged in United States from globally sourced ingredients.</p>
          </div>
        </div>
        <div class='benefit'>
          <div class='benefit-icon'>
            {% render 'icon-return' %}
          </div>
          <div class='benefit-content'>
            <h3><i>Easy</i> 30-day returns</h3>
            <p>
              We're confident you'll love Spicy Cubes, so we offer a 100% satisfaction guarantee with no-hassle return.
            </p>
          </div>
        </div>
        <div class='benefit'>
          <div class='benefit-icon'>
            {% render 'icon-box' %}
          </div>
          <div class='benefit-content'>
            <h3><i>Fast</i> and <i>discreet</i> shipping</h3>
            <p>
              Fast standard shipping, opt for expedited shipping via USPS, ships in 10-15 business days -
              <a href='#'>more info</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End sugar Section -->
<style>
  .sugar-box-image .desktop-image {
    display: none;
    max-width: 100%;
  }
  .sugar-box-image .mobile-image {
    display: block;
    width: 500px;
    max-width: 100%;
  }

  @media (min-width: 1200px) {
    .sugar-box-image .desktop-image {
      display: block;
      max-width: 100%;
      max-height: 611px;
      width: 100%;
      height: auto;
    }
    .sugar-box-image .mobile-image {
      display: none;
    }
  }

  .sugar-content {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1200px) {
    .sugar-content {
      flex-direction: row;
      justify-content: space-between;
      gap: 60px;
    }
    .sugar-text {
      text-align: left;
      order: 2; /* Ensure text is on the right */
      padding-top: 40px;
      max-width: 500px;
    }
    .sugar-box-image {
      order: 1; /* Ensure image is on the left */
    }
  }

  .sugar-text {
    color: {{ section.settings.text_color | default: '#FFC0CB' }}; /* Default to pink */
    font-size: {{ section.settings.font_size | default: 32 }}px;
    text-align: left;
    display: none; /* Hide by default */
  }

  @media (min-width: 1200px) {
    .sugar-text {
      display: block; /* Show on larger screens */
    }
  }

  .benefit-content p {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .benefit-content h3 {
    font-family: "superior-title", serif;
    font-weight: 500;
    font-size: 32px;
  }
</style>

{% schema %}
{
  "name": "Sugar Section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_product_image_desktop",
      "label": "Choose Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "hero_product_image_mobile",
      "label": "Choose Mobile Image"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FDFAF1"
    },
    {
      "type": "number",
      "id": "font_size",
      "label": "Font Size",
      "default": 24
    }
  ]
}
{% endschema %}
