.mission {
  z-index: 1;
}

.h0,
.h1,
.h2,
.h3 {
  font-family: 'Futura', sans-serif;
  font-weight: 700;
}

.h0 {
  font-size: 60px;
}

.h1 {
  font-size: 55px;
}

.h2 {
  font-size: 30px;
}

.h3 {
  font-size: 20px;
}

.normal {
  font-size: 16px;
  font-family: 'Futura', sans-serif;
}

.large {
  font-size: 20px;
  font-family: 'Futura', sans-serif;
}

.mission__wrapper {
  justify-content: center;
  width: calc(100% - 4rem / var(--font-body-scale));
}

.mission:not(.mission--full-width) .mission__wrapper {
  margin: auto;
  width: calc(100% - 8rem / var(--font-body-scale));
}

.mission__blocks {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .mission__wrapper {
    width: 100%;
  }

  .mission__wrapper--left {
    justify-content: flex-start;
  }

  .mission__wrapper--right {
    justify-content: flex-end;
  }

  .mission__blocks {
    max-width: 50rem;
  }
}

@media screen and (min-width: 990px) {
  .mission__blocks {
    max-width: 78rem;
  }
}

.mission__blocks * {
  overflow-wrap: break-word;
}

.mission__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.mission__blocks > * + * {
  margin-top: 2rem;
}

.mission__blocks > * + a {
  margin-top: 3rem;
}

.mission__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  word-break: break-word;
}

.mission__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.mission__buttons + .mission__buttons {
  margin-top: 1rem;
}

.mission__blocks.left .mission__buttons {
  justify-content: flex-start;
}

.mission__blocks.right .mission__buttons {
  justify-content: flex-end;
}

/* Base styles for mobile devices */
.value__prop {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  /* Adds spacing between the rows */
}

.value__prop__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mission__heading {
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Styles for tablets and desktops */
@media (min-width: 768px) {
  .value__props__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* Allow items to wrap on smaller desktops/tablets */
    justify-content: space-around;
    align-items: flex-start;
  }

  .value__prop {
    margin-bottom: 0;
    /* Remove the spacing between rows for desktop */
    width: calc(33.333% - 20px);
    /* Divide the container into 3 columns, accounting for some margin */
    margin: 10px;
    /* Adds margin between columns */
  }
}
